<mat-card>
  <form fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Keywords"  value="{{keywords}}" (input)="keywordsChanged($event.target.value)">
    </mat-form-field>
    <mat-label>Status</mat-label>
    <mat-radio-group aria-label="Status" fxLayout="column" fxLayoutGap="10px">
      <mat-radio-button value="all">All</mat-radio-button>
      <mat-radio-button value="pending">Pending</mat-radio-button>
      <mat-radio-button value="open">Open</mat-radio-button>
      <mat-radio-button value="filled">Filled</mat-radio-button>
      <mat-radio-button value="cancelled">Cancelled</mat-radio-button>
    </mat-radio-group>
  </form>
</mat-card>